<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <title>User Signup</title>
        <style type="text/css">
                    
            
            .error {
                color: red;
            }
            .form-control {
                width: 30%;    
            }

            body {
                margin: 50px;
                font-family: 'Noto Serif', serif;
            }

            h1 {
                font-family: 'Noto Serif', serif;

            }
            
            
        </style>
    </head>

        {% block content %}
        {% endblock %}

</html>